typing-extensions<4.6.0
jedi>=0.16
cohere
openai
tiktoken
numpy<1.26,>=1.20
fsspec==2023.6.0
google-auth==2.17.3
torch==2.1.0
pillow<10.1.0,>=8.3.2
wrapt<1.15,>=1.11.0
protobuf<4.21,>=3.20.3
fastapi
uvicorn
kaleido
python-multipart
llama-cpp-python
pypdf
sentence-transformers
chromadb
langchain
